/* Izstatijumi priekš visas lapas. Atradu ka rasktit komentarus xD */

body {
    font-family: Arial, sens-serif;
    background-color: #a1a1e9;
    color: black;
}


/* galvenie virsraksti */

h1 {
    color: rgb(12, 1, 1);
    font-size: 40px;
    margin-bottom: 30px;
}

h2 {
    color: rgb(46, 11, 11);
    font-size: 30px;
    margin-bottom: 30px;
}

p {
    color: rgb(37, 31, 31);
    font-size: 20px;
    margin-bottom: 30px;
}


ul {
    width: 222px;
    padding: 22px;
    background-color:#8f8fd8;
    border-radius: 15px;
}

li {
    margin-bottom: 11px;
}